@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.newcustomerbutton {
  float: right !important;
}

.issue_status {
  padding: 5px;
  border-radius: 0.25rem;
}

.opened {
  background-color: orange;
}

.inprogress {
  background-color: plum;
}

.closed {
  background-color: lightseagreen;
}

#issueChangeSelect > option:after {
  padding: 5px;
  border-radius: 0.25rem;
}

#issueChangeSelect > option.opened:after {
  background-color: orange;
}

#issueChangeSelect > option.inprogress:after {
  background-color: plum;
}

#issueChangeSelect > option.closed:after {
  background-color: lightseagreen;
}

@media all and (max-width: 767px) {
  .newcustomerbutton {
    float: none !important;
    margin-bottom: 15px;
  }
}
